<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frio.neptune" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AndroidApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|uiMode"
            android:exported="true"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|uiMode"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.EditorActivity"
            android:configChanges="screenSize|uiMode"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>